.post-card{
  max-width: 250px;
  min-height: 300px;
  max-height: 450px;
  opacity: 0.8;

   &:hover{
    opacity: 1;
    .text-truncate{
      overflow:visible;
        text-overflow:inherit;
        white-space: inherit;
    }
  }
}

.post-card-container{
  position: relative
}

.delete-button {
  z-index: 2;
  position: absolute;
  top:5px;
  right: 5px;
}