.navbar {
  min-width: 100%;
  background-color: $dark;
  // box-shadow:inset -5px -1px 8px 0px rgba(255,255,255,0.49);

  .title{
    color: $white;
  }
  .name{
    color: $secondary
  }
  .user-icon{
    color: $secondary;
  }
  .login{
    color: $secondary;
  }
}